name: dns-server

services:
  main_app:
    cpu_shares: 90
    container_name: dns-server
    environment:
      - DNS_SERVER_ADMIN_PASSWORD=change_this_password
      - DNS_SERVER_DOMAIN=dns-server
      - DNS_SERVER_LOG_USING_LOCAL_TIME=true
      - DNS_SERVER_RECURSION=AllowOnlyForPrivateNetworks
    image: technitium/dns-server:14.3.0
    labels:
      icon: "https://raw.githubusercontent.com/mazama923/mazimaos-appstore/main/Apps/technitium/icon.png"
    restart: unless-stopped
    volumes:
      - type: bind
        source: /DATA/AppData/dns-server/config
        target: /etc/dns
    network_mode: host
    privileged: false

x-casaos:
  architectures:
    - amd64
  main: dns-server
  author: "mazama923"
  category: "Network"
  icon: "https://raw.githubusercontent.com/mazama923/mazimaos-appstore/main/Apps/technitium/icon.png"
  index: "/"
  is_uncontrolled: false
  port_map: "5380"
  scheme: http
  hostname: ""
  title:
    en_us: Technitium DNS Server
  description:
    en_us: "Open source DNS & DHCP server with privacy features, ad-blocking, and zones management."
  tagline:
    en_us: "Advanced self-hosted DNS resolver for home labs."
  volumes:
    - container: "/etc/dns"
      host: "/DATA/AppData/dns-server/config"
      description:
        en_us: "Config and data persistence for Technitium DNS."
  ports:
    - container: "5380"
      description:
        en_us: "Web dashboard (HTTP)"
    - container: "53"
      description:
        en_us: "DNS service (TCP/UDP)"
    - container: "67/udp"
      description:
        en_us: "DHCP server (optional)"

